
<!DOCTYPE html>
 <html>
 <head>
  <% provide(:title, 'Galeria') %>  
  <%= stylesheet_link_tag    "gallery", media: "all" %>  
 </head>
 <body>
 
  <!--/top-->
  <h1>Galeria</h1>
  <div id="header"><div class="wrap">
   <div id="slide-holder">
<div id="slide-runner">
    <a href="gallery1"><img id="slide-img-1" src="/assets/nature-photo.png" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-2" src="/assets/nature-photo1.png" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-3" src="/assets/nature-photo2.png" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-4" src="/assets/nature-photo3.png" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-5" src="/assets/nature-photo4.png" class="slide" alt="" /></a>
    <a href=""><img id="slide-img-6" src="/assets/nature-photo4.png" class="slide" alt="" /></a>
	<a href=""><img id="slide-img-7" src="/assets/nature-photo6.png" class="slide" alt="" /></a> 
    <div id="slide-controls">
     <p id="slide-client" class="text"><strong>post: </strong><span></span></p>
     <p id="slide-desc" class="text"></p>
     <p id="slide-nav"></p>
    </div>
</div>
	
	<!--content featured gallery here -->
   </div>
   <script type="text/javascript">
    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Karkonosze","desc":"Galeria z wyjazdów w Sudety"},{"id":"slide-img-2","client":"Bieszczady","desc":"opis"},{"id":"slide-img-3","client":"Tatry","desc":"inny opis"},{"id":"slide-img-4","client":"Beskidy","desc":"jeszcze inny opis"},{"id":"slide-img-5","client":"Pieniny","desc":"opis"},{"id":"slide-img-6","client":"Góry Świętokrzyskie","desc":"opis"},{"id":"slide-img-7","client":"Góry Stołowe","desc":"opis"}];
   </script>
  </div></div><!--/header-->
 </body>
</html>
