<!DOCTYPE html>
 <html>
 <head>
  <% provide(:title, 'Zdobyte szczyty') %>  
  <%= stylesheet_link_tag    "peaks", media: "all" %>  
 </head>
 <body>
  <h1>Zdobyte szczyty</h1>
  <!--  Slider -->
<div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/nature-photo.png" alt="" />
      <div class="carousel-caption">
        <p>Sudety</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo1.png" alt="" />
      <div class="carousel-caption">
        <p>Tatry</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo2.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo3.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo4.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo5.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="/assets/nature-photo6.png" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>

<!-- skrypty-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
 </body>
</html>
